* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

body {
	text-align: center;
	font-family: Calibri, serif;
	background: lightblue;
	font-size:2.4rem;
}

header, footer {
	margin: 0;
	padding: 0;
	background:darkcyan;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

li {
	margin: 0 18px;
	width: 30%;
}

a {
	text-decoration: none;
}

section, form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section h1 {
	margin: 8px;
}

#home {
	background-image: url("../img/photos.png");
	background-size: cover;
	padding: 3% 10%;
}

.intro {
	background-color: #008b8bcc;
	color: white;
	margin: 2vh auto;
	padding: 3%;
}

#bio {
	width: 60%;
	margin: auto;
}

#bio p {
	margin-top: 2vh;
}

#creation {
	margin-top: 10vh;
	height: 10vh;
}
