* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

body {
	text-align: center;
	font-family: Calibri, serif;
	background: lightblue;
	font-size:2.4rem;
}

header, footer {
	margin: 0;
	padding: 0;
	background:darkcyan;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*	header	menu	*/
ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

li {
	margin: 0 18px;
	width: 30%;
}

a {
	text-decoration: none;
}

section, form, form div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*	all titles	*/
section h1 {
	margin: 8px;
}

/*	home page	*/
#home {
	background-image: url("../img/photos.png");
	background-size: cover;
	padding: 2% 10%;
}

#home {

}

.intro , form{
	background-color: #008b8bcc;
	color: white;
	margin: 3vh auto;
	padding: 3%;
}

/*	bio page	*/
#bio {
	width: 60%;
	margin: auto;
}

#bio p {
	margin-top: 2vh;
}

#creation {
	margin-top: 10vh;
	height: 10vh;
}

#pict img {
	 width: auto;
	height: 25vh;
}

/*	contact page	*/
#contact {
	padding: 5vh 14vw;
	background-image: url("../img/paperNecklace.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

form {
	width: 50vw;
}

button, form div {
	margin: 1vh;
}

button {
	padding: 2px;
	font-size: 2vw;
}

#socials {
	margin-top: 2vh;
}

#socials i {
	margin: 0 0.5vw;
}